<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <ul id="social-icons">
        <li><a href="https://twitter.com/karitristan"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://plus.google.com/u/0/103135014355211897126/posts"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="https://is.linkedin.com/pub/kári-tristan-helgason/50/b10/b06"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://github.com/kthelgason"><i class="fa fa-github"></i></a></li>
      </ul>
      <p class="text">&copy; 2015    Kári Tristan Helgason</p>
    </div>
  </div>

</footer>
